body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 16px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-hero p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;

}

.cards {
    background-color: #ffffff;
}

.quote {
    background-color: #e5e7eb;
}

.registration {
    background-color: #ffffff;
}

.footer {
    background-color: #1f2937;
}